@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.background-image {
  background-image: url("/travel_background.jpg");
  background-size: cover;
  display: block;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}
.content {
  top: 10px;
  left: 0;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  margin-top: 120px;
}


body, html {
  overflow: auto;
  height: 100%;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-links {
  position: fixed;
  z-index: 50;
  left: 43%;
  top: 5%;
}

.your-travel {
  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

.headings {
  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

/* Video */

#video-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#video-container video,
.video-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  max-width: none;
}

#video-container .video-overlay {
  z-index: 1;
  background: rgba(0,0,0,0.5);
  width: 100%;
}

#video-container .video-content {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#video-container .video-content .inner h1 {
  font-size: 64px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
}

#video-container .video-content .inner em {
  font-style: normal;
  font-weight: 200;
}


#video-container .video-content .inner p {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 0px 30px;
}

#video-container .video-content .inner a {
  color: #fff;
  text-decoration: underline;
}

#video-container .video-content .inner .scroll-icon {
  margin-top: 45px;
}

#roadVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  max-width: none;
}

.blog-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
  height: 500px;
}